.edu-brand-area {
  padding-top: 120px;
}

.brand-section-heading {
  padding-right: 60px;
}

.brand-grid-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  flex-wrap: wrap;
}

.brand-grid-wrap .brand-grid {
  width: 140px;
  padding: 0 15px;
  text-align: center;
  border: 1px solid #bdbdbd;
  border-radius: 20px;
  transition: 0.3s;
  margin: 0 15px 15px 15px;
}

.brand-grid-wrap:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #f0f0f0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  transform: translateY(-50%);
}

.brand-grid-wrap .brand-grid:hover {
  box-shadow: 0 10px 50px 0 rgba(26, 46, 85, 0.1);
}
