.edu-brand-area {
  padding-top: 120px;
}

.brand-section-heading {
  padding-right: 60px;
}

.brand-grid-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.brand-grid-wrap .brand-grid:first-child {
  border-left: 1px solid #f0f0f0;
}

.brand-grid-wrap .brand-grid:nth-child(5) {
  border-left: 1px solid #f0f0f0;
}

.brand-grid-wrap .brand-grid {
  padding: 18px 5px;
  text-align: center;
  border-right: 1px solid #f0f0f0;
  transition: 0.3s;
}

.brand-grid-wrap:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #f0f0f0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  transform: translateY(-50%);
}

.brand-grid-wrap .brand-grid:hover {
  box-shadow: 0 10px 50px 0 rgba(26, 46, 85, 0.1);
}
