/*  */
.faq__area {
  background: #f7f7f9;
  padding: 260px 0 120px;
  margin-top: -140px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.faq__wrap .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #5751e1;
}
.faq__wrap .accordion-item .accordion-button {
  background-color: transparent;
  border: none;
  border: none;
  padding: 0 0;
  font-size: 20px;
  font-weight: 500;
  box-shadow: none;
  border-radius: 0;
  color: #000;
  position: relative;
}

.faq__wrap .accordion-body {
  margin-bottom: 0;
  color: #1c1a4a;
}
.section__title .sub-title {
  display: inline-block;
  line-height: 1.62;
  background: #efeefe;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 3px 16px;
  font-weight: 500;
  color: #5751e1;
  margin: 0 0 14px;
}

.faq__wrap .accordion-item {
  background-color: transparent;
  border: 1px solid #b2bbcc;
  border-radius: 24px;
  margin-bottom: 1rem;
  padding: 1.2rem 1rem 1.2rem;
}
.accordion-header {
  margin-bottom: 0;
}
.faq__wrap .accordion-body {
  padding: 15px 0 0;
}
.faq__wrap .accordion-body p {
  margin-bottom: 0;
  color: var(--tg-common-color-dark);
}

/*  */

.fact__inner-wrap {
  background: var(--tg-common-color-blue-2);
  padding: 70px;

  border-radius: 40px;
  box-shadow: 0px 25px 70px 0px rgba(40, 37, 104, 0.4);
  z-index: 3;
  position: relative;
}
.fact__item {
  text-align: center;
  /* margin-bottom: 30px; */
  position: relative;
}
.fact__item::before {
  content: "";
  position: absolute;
  right: -15px;
  top: -10%;
  width: 2px;
  height: 108px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.fact__item p {
  margin-bottom: 0;
  font-weight: 500;
  color: #fff;
  line-height: 1.2;
}
.fact__item-wrap .fact__item:last-child::before {
  display: none;
}
.fact__item span {
  color: #ffffff;
  font-size: 46px;
  line-height: 0.84;
  margin-bottom: 20px !important;
  display: inline-block;
}
