.categorie-grid {
  padding: 16px 30px;
  display: flex;
  align-items: center;
  text-align: left;
  min-height: 80px;
  transition: 0.3s all ease-in-out;
}

.light_green {
  background-color: rgba(26, 182, 157, 0.07);
}

.categorie-grid .content h5.title {
  margin-bottom: 0;
  font-size: 15px;
}
.categorie-grid .icon i {
  font-size: 30px;
}
.light_green i {
  color: var(--color-secondary);
}
.light_green:hover {
  background-color: var(--color-secondary);
}
.light_green:hover .icon i {
  color: #fff;
}
.categorie-grid:hover .content h5.title {
  color: #fff;
}
