.newsletter__area {
  background: var(--tg-theme-primary);
  position: relative;
  padding: 50px 0;
  z-index: 1;
  overflow: hidden;
}

.newsletter__content .title {
}
.newsletter__content .title {
  margin-bottom: 25px;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.2;
  text-align: center;
}

.newsletter__form form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newsletter__form form input {
  width: 100%;
  border: 1px solid transparent;
  background: #fff;

  border-radius: 50px;
  color: #000;
  font-size: 16px;
  padding: 18px 20px;
  line-height: 1.4;
  height: 60px;
  flex-grow: 1;
}

.newsletter__form form .btn_secondary {
  background: var(--tg-theme-secondary);
  min-width: 198px;
  border: 1px solid #141109;
  padding: 20px 30px;
  color: var(--tg-heading-color);
  box-shadow: 4px 6px 0px 0px #3d3d3d;
}

.newsletter__shape img {
  position: absolute;
  right: 14%;
  top: 0;
  z-index: -1;
}

@media (max-width: 1500px) {
  .newsletter__shape img {
    right: 0;
  }
}
