.newsletter__area {
  background: var(--tg-theme-primary);
  position: relative;
  padding: 35px 0 0;
  z-index: 1;
  overflow: hidden;
}

.newsletter__img-wrap {
  position: relative;
  text-align: center;
  max-width: 430px;
}
.newsletter__img-wrap img:nth-child(3) {
  right: 16%;
  top: 18%;
  z-index: -1;
}
.newsletter__img-wrap img:not(:nth-child(1)) {
  position: absolute;
}

.newsletter__img-wrap img:nth-child(2) {
  left: 5%;
  bottom: 0;
  z-index: -1;
}

.newsletter__img-wrap img:not(:nth-child(1)) {
  position: absolute;
}
.newsletter__content .title {
  margin-bottom: 25px;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.2;
}

.newsletter__form {
  width: 80%;
}
.newsletter__form form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newsletter__form form input {
  width: 100%;
  border: 1px solid #4a44d1;
  background: #4a44d1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 18px 20px;
  line-height: 1.4;
  height: 60px;
  flex-grow: 1;
}

.newsletter__form form .btn_secondary {
  background: var(--tg-theme-secondary);
  min-width: 198px;
  border: 1px solid #141109;
  padding: 20px 30px;
  color: var(--tg-heading-color);
  box-shadow: 4px 6px 0px 0px #3d3d3d;
}

.newsletter__shape img {
  position: absolute;
  right: 14%;
  top: 0;
  z-index: -1;
}

@media (max-width: 1500px) {
  .newsletter__shape img {
    right: 0;
  }
}
