.breadcrumb-area {
  padding: 150px 0;
}

.breadcrumb__bg {
  background-size: cover;
  background-position: center;
  padding: 107px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.breadcrumb__content .title {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 1.2;
  text-transform: capitalize;
}

.breadcrumb__content .breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 10px;
}

.breadcrumb__content .breadcrumb > * {
  font-size: 16px;
  color: var(--tg-theme-primary);
}

.breadcrumb__content .breadcrumb > * a {
  color: var(--tg-common-color-dark);
}

.breadcrumb__content .breadcrumb .breadcrumb-separator {
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  margin-top: 2px;
  opacity: 0.5;
  color: #7f7e97;
}

@media (max-width: 1500px) {
  .breadcrumb__shape-wrap img:nth-child(1) {
    left: 69px;
    top: 52px;
  }
}
.breadcrumb__shape-wrap img:nth-child(1) {
  left: 100px;
  top: 62px;
}
.breadcrumb__shape-wrap img {
  position: absolute;
  z-index: -1;
}
@media (max-width: 1500px) {
  .breadcrumb__shape-wrap img:nth-child(2) {
    right: 38%;
  }
}
.breadcrumb__shape-wrap img:nth-child(2) {
  right: 32%;
  top: 21%;
}
@media (max-width: 1500px) {
  .breadcrumb__shape-wrap img:nth-child(3) {
    right: 23%;
    bottom: 13%;
  }
}
.breadcrumb__shape-wrap img:nth-child(3) {
  right: 20%;
  bottom: 15%;
}

.breadcrumb__shape-wrap img:nth-child(4) {
  right: 8%;
  top: 8%;
}

.breadcrumb__shape-wrap img:nth-child(5) {
  right: 0;
  top: 0;
}
