.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: #0d3559;
  position: relative;
}
.section-header .section-subtitle {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
#features .content-left {
  position: relative;
  top: 60px;
}

#features .content-right {
  position: relative;
  top: 60px;
}
#features .box-item {
  padding-bottom: 30px;
}
#features .box-item .icon {
  border: 1px solid var(--color-secondary);
  text-align: center;
  margin: 12px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .content-left span {
  float: right;
  margin-left: 25px;
}

#features .content-right span {
  float: left;
  margin-right: 25px;
}
#features .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 1;
}
#features .box-item .text .title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #161439;
  line-height: 22px;
}
#features .box-item .text p {
  font-size: 13px;
  line-height: 26px;
}

#features .show-box {
  padding: 80px 0px 0px;
}
#features .show-box img {
  width: 100%;
  height: 450px;
}

#features .box-item .icon i {
  color: var(--color-secondary);
  font-size: 24px;
  line-height: 60px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#features .box-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#features .box-item.text-center .icon {
  margin: 12px auto;
}

#features .box-item:hover .icon {
  background: var(--color-secondary);
  color: #fff;
}
#features .box-item:hover .icon i {
  color: #fff;
}

#features .box-item:hover .text .title {
  color: var(--color-secondary);
}

#features .box-item:hover .text p {
  color: var(--color-secondary);
}
